*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif; 
    
}
/*-----------------------------------------------navbar---------------------------------------------------------------------------------------------------------------------------------------*/
.nav
{
    width: 100vw;
    display: flex;
    padding: 40px 17px;
    height: 15vh;
    position: fixed;
    border-bottom: 6px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    background: white;
    z-index: 9;
    justify-content: space-around;
    
}

.nav ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav ul li
{
    margin-left: 15px;
}

.nav ul li a
{
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    color: black;
    font-weight: 500;
}
.nav ul li a:hover
{
    color: rgb(4, 65, 4);
    font-weight: 600;
    
}
/*-------------------------------------------herro-------------------------------------------------------------------------------------*/
.herro
{
    padding-top: 95px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(220, 243, 222), white);
    height: 34rem;
    
}
/*--------------------------------------subject(main body)----------------------------------------------------------------------------------*/
h1
{
    margin-left: 7rem;
    margin-top: 7rem;
    font-size: 50px;
    font-family: 'Tilt Neon', cursive;
}


.about
{
    width: 100vw;
    display: flex;
}

.col1
{
    width: 50%;
    left: 10%;

}
.col2
{
    width: 50%;
    right: 10%;
}
.img2{
    margin-left: 50px;
}

.mission
{
    width: 100vw;
    display: flex;
}

.img1
{
    margin-left: 50px;
    margin-top: 15px;
}

/*---------------------------------------Footer--------------------------------------------------------------------------*/

footer
{
    width: 100%;
    background-color: #555657;
}

.fcontent
{
    display: flex;
    justify-content: space-around;
}
.logo
{
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    font-size: larger;
}
.fHeads
{
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 27px;
    cursor: pointer;
}

.flist ul li
{
    list-style: none;
    font-size: 20px;
    padding: 5px;
    font-weight: 200;
    color: #c8cacc;
    cursor: pointer;
}

.flist ul li a
{
    text-decoration: none;
    color: #c4c4c5;
}

.flist ul li a:hover
{
    color: white;
    padding: 9px;
    font-size: 25px;
    transition: 0.5s;
}
.media_head
{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
}
.media
{
    display: flex;
    justify-content: center;

}
.media img
{
    margin: 20px;
}
